/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.shadow{
    box-shadow: var(--shadow);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.active{
    font-weight: bold !important;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86fe96;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(16, 202, 56, 0.25);
}
.contain{
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
}
.contain .footer{
    width: 100%;
    align-self: flex-end;
}
/*& loding */
.loding{
    position: fixed;
    margin: 0;
    background-color:rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    
}


.offline{
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: #fffcfc;
    padding: 20px;
    z-index: 3;
    border-radius: 10px;
    font-weight: bold;
}

